Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
!Build/*/Resources/*.plist

Backend/.gradle/
Backend/build/
Backend/*/build/
Backend/local.properties
Backend/.idea/
Backend/*.iml

.vs/
.idea/
*.xcodeproj/
*.xcworkspace/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.layout
*.bak
.cmake/

ThirdParty/build/
ThirdParty/generated/
ThirdParty/cmake-build-*/
ThirdParty/CMakeFiles/
ThirdParty/CMakeCache.txt
ThirdParty/*.cmake
ThirdParty/scripts/*.log

DedicatedServer/build/
DedicatedServer/generated/
DedicatedServer/CMakeFiles/
DedicatedServer/CMakeCache.txt
DedicatedServer/*.cmake
DedicatedServer/scripts/*.log

ThirdParty/vcpkg/*

.DS_Store
*.swp
*.lock
*.log
*.dmp
*.report

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

.gradle/
**/build/
!**/src/**/build/